.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 100px 60px 80px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 108px;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__social-column {
  display: flex;
  flex-direction: column;
}

.footer__social-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: bold;
  color: #fff;
}

.footer__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  list-style: none;
  margin-bottom: 16px;
  display: flex;
}
.footer__list-item:last-of-type {
  margin-bottom: 0;
}
.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.footer__social-link {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  margin-left: 0;
  padding: 0;
  transition: color 0.2s ease-out;
}

.footer__social-link:visited,
.footer__social-link:link {
  color: #fff;
  text-decoration: none;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
