.reservation {
  background-color: #d9e7ff;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.reservation__title {
  margin: 100px auto 80px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
}

.reservation__form {
  margin: 0 auto 120px;
  width: 385px;
}
